<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h1>Joe Karumba</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><a routerLink="/business/crm/customers">Customers</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="../../assets/img/jkarumba.png" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center">Joe Karumba, Mr</h3>
                            <p class="text-muted text-center"><i class="fa fa-phone mr-2"></i>(020) 1235432<br>
                                <i class="fa fa-envelope mr-2"></i>jk@verge.net<br>
                                <i class="fab fa-twitter mr-2"></i>jaasjoe
                            </p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item text-center">
                                    <small>CEO, Verge Interactive Ltd</small>
                                </li>
                            </ul>
                        </div>

                    </div>


                    <div class="card card-primary">
                        <div class="card-header bg-secondary">
                            <h3 class="card-title">About</h3>
                        </div>

                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Industry</strong>
                            <p class="text-muted">
                                Business Analysis, Management, Information Technology
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Fairway Towers, Suite 600<br>
                                Karuna Rd, Westlands, Nairobi</p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                            <p class="text-muted">N/A</p>
                        </div>

                    </div>

                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#plan"
                                    data-toggle="tab">Plan / Products</a></li>
                                <li class="nav-item"><a class="nav-link" href="#activity"
                                        data-toggle="tab">Interactions</a></li>
                                <li class="nav-item"><a class="nav-link" href="#payments"
                                        data-toggle="tab">Payments</a></li>
                                <li class="nav-item"><a class="nav-link" href="#maturities"
                                    data-toggle="tab">Maturities</a></li>
                                
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane" id="activity">

                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                                <a href="#"><i class="fab fa-twitter mr-3"></i>jaasjoe - Twitter Mention</a>
                                            </span>
                                            <span class="description"><i class="far fa-clock mr-2"></i>07-Feb-2023 19:30</span>
                                        </div>

                                        <p>
                                            Love your new digital platform <a href="https://twitter.com/OldMutual_Ke">@OldMutual_Ke</a>.... Hey, <a href="#">@JimmyM</a> stop using Fax and check this out LOL...
                                        </p>
                                    </div>

                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                                <i class="fas fa-phone mr-3"></i>Call Center Log
                                            </span>
                                            <span class="description"><i class="far fa-clock mr-2"></i>03-Feb-2023 19:30</span>
                                        </div>
                                        <p>
                                            The customer is unable to open attachment on Monthly Statement Email. Attachment corrupted<br>
                                            Ticket # <a href="#">M2342342</a><br>
                                            <b>Status: </b> <span class="badge badge-success">Open</span><br>
                                            <b>Agent: </b> RMwine<br>
                                            
                                        </p>
                                        <input class="form-control form-control-sm" type="text"
                                            placeholder="Add Comment">
                                    </div>

                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                                <i class="fas fa-envelope mr-3"></i>Auto Mailer
                                            </span>
                                            <span class="description"><i class="far fa-clock mr-2"></i>31-Jan-2023 06:00</span>
                                        </div>
                                        <p>
                                            Statement for the period 01-Jan-2023 to 31-Jan-2023 sent
                                        </p>
                                    </div>

                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                                <i class="fas fa-envelope mr-3"></i>Auto Mailer
                                            </span>
                                            <span class="description"><i class="far fa-clock mr-2"></i>31-Dec-2022 06:00</span>
                                        </div>
                                        <p>
                                            Statement for the period 01-Dec-2022 to 31-Dec-2022 sent
                                        </p>
                                    </div>

                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                                <i class="fas fa-phone mr-3"></i>Outgoing Call - Business Log
                                            </span>
                                            <span class="description"><i class="far fa-clock mr-2"></i>20-Dec-2022 14:30</span>
                                        </div>
                                        <p>
                                            Called Joe regarding a new product that would be a good add to his portfolio<br>
                                            Follow up planned on the 28th, Lisbeth to visit client with prospectus and also discuss<br>
                                            <b>Status: </b> <span class="badge badge-info">Upsell</span><br>
                                            <b>Agent: </b> SK, Head of Investments<br>
                                            
                                        </p>
                                        <input class="form-control form-control-sm" type="text"
                                            placeholder="Add Comment">
                                    </div>
                                </div>

                                <div class="tab-pane" id="payments">

                                    <div class="timeline timeline-inverse">

                                        <div class="time-label">
                                            <span class="bg-info">
                                                25 Jan 2023
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-check"></i>
                                            <!-- <i class="fas fa-envelope bg-primary"></i> -->
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>
                                                <h3 class="timeline-header">EBiz Accounts Receivables - BARCKENXNPB (by SWIFT) </h3>
                                                <div class="timeline-body">
                                                    <b>Advice:</b> Standing order of Kshs 17,340 for <a href="#"> 2342-WEQ0012,32423420-ZEQ0010,3242342-H23424</a> received<br>
                                                    Transaction Ref: <a href="javascript:void(0);">V583475935</a><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="time-label">
                                            <span class="bg-info">
                                                25 Dec 2022
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-check"></i>
                                            <!-- <i class="fas fa-envelope bg-primary"></i> -->
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>
                                                <h3 class="timeline-header">EBiz Accounts Receivables - BARCKENXNPB (by SWIFT) </h3>
                                                <div class="timeline-body">
                                                    <b>Advice:</b> Standing order of Kshs 17,340 for <a href="#"> 2342-WEQ0012,32423420-ZEQ0010,3242342-H23424</a> received<br>
                                                    Transaction Ref: <a href="javascript:void(0);">V583475231</a><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="time-label">
                                            <span class="bg-info">
                                                25 Nov 2022
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-check"></i>
                                            <!-- <i class="fas fa-envelope bg-primary"></i> -->
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>
                                                <h3 class="timeline-header">EBiz Accounts Receivables - BARCKENXNPB (by SWIFT) </h3>
                                                <div class="timeline-body">
                                                    <b>Advice:</b> Standing order of Kshs 17,340 for <a href="#"> 2342-WEQ0012,32423420-ZEQ0010,3242342-H23424</a> received<br>
                                                    Transaction Ref: <a href="javascript:void(0);">V583475000</a><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="time-label">
                                            <span class="bg-info">
                                                30 Sep 2022
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-check"></i>
                                            <!-- <i class="fas fa-envelope bg-primary"></i> -->
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>
                                                <h3 class="timeline-header">EBiz Accounts Receivables - Cheque </h3>
                                                <div class="timeline-body">
                                                    <b>Advice:</b> Check of Kshs 987,265 (serial 0435353453) banked for <a href="#"> 2342-WEQ0012,32423420-ZEQ0010,3242342-H23424</a> as downpayment<br>
                                                    Transaction Ref: <a href="javascript:void(0);">V583475000</a><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="active tab-pane" id="plan">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4>
                                                <i class="fa fa-briefcase mr-3"></i>Individual, Family, SME <br><br>
                                                <i class="fas fa-coins mr-3"></i>Kshs 4,500,000
                                            </h4>
                                            <br>
                                        </div>
            
                                    </div>
                                    <div class="row">
                                        <div class="col-9 table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Product</th>
                                                        <th>Code</th>
                                                        <th>Description</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>KHY Unit Trust 10 yr</td>
                                                        <td>WEQ0012</td>
                                                        <td>KHY Unit trust product - 10 year term</td>
                                                        <td>Kshs 3,400,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Elimu Bora</td>
                                                        <td>ZEQ0010</td>
                                                        <td>Education Bond</td>
                                                        <td>Kshs 900,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Home Insured - Lite</td>
                                                        <td>H23424</td>
                                                        <td>Comprehensive insurance for the home - 3 months</td>
                                                        <td>Kshs 200, 000</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Value</td>
                                                        <td><b>Kshs 4,500,000</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                
                                </div>

                                <div class="tab-pane" id="maturities">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4>
                                                Not eligible <br><br>
                                            
                                            </h4>
                                            <br>
                                        </div>
            
                                    </div>
                                
                                
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

</div>