<div class="content-wrapper" *ngIf="currentUser.authenticated && canView('lead-detail',currentUser)">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Opportunity: Joe Karumba</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/business/crm/leads">Leads</a></li>
                        <li class="breadcrumb-item active">Invoice</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <div class="callout callout-info">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        Click <a href="javascript:void(0);">here</a> for cross-sell opportunities for this customer (via Analytics) 
                    </div>

                    <div class="invoice p-3 mb-3">

                        <div class="row">
                            <div class="col-9">
                                <h4>
                                    <i class="fa fa-briefcase mr-3"></i>Individual, Family, SME <br><br>
                                    <i class="fas fa-coins mr-3"></i>Kshs 4,500,000
                                </h4>
                                <br>
                            </div>

                        </div>

                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                
                                <address>
                                    <strong>Joe Karumba</strong><br>
                                    CEO, Verge Interactive Ltd
                                    Fairway Towers, Suite 600<br>
                                    Karuna Rd, Westlands, Nairobi<br>
                                    Phone: (020) 1235432<br>
                                    Email: jk@verge.net<br>
                                    Contact Date: 02/01/2023
                                </address>
                            </div>

                            <div class="col-sm-4 invoice-col">
                                
                                <address>
                                    <strong>Contact:</strong> Joe Karumba<br>
                                    Phone: (020) 1235432<br>
                                    Email: jk@verge.net<br><br>

                                    <b>Alternate:</b> J Mwang'ondi<br>
                                    Phone: (020) 9235432<br>
                                    Email: communications@verge.net
                                </address>
                            </div>

                            <div class="col-sm-4 invoice-col">
                                <br>
                                <b>Owner:</b> James Muli<br>
                                <b>Alternate:</b> Liz Kasai<br>
                                <b>Team:</b> Sales - Greater Nairobi Area<br>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>KHY Unit Trust 10 yr</td>
                                            <td>WEQ0012</td>
                                            <td>KHY Unit trust product - 10 year term</td>
                                            <td>Kshs 3,400,000</td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>Elimu Bora</td>
                                            <td>ZEQ0010</td>
                                            <td>Education Bond</td>
                                            <td>Kshs 900,000</td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>Home Insured - Lite</td>
                                            <td>H23424</td>
                                            <td>Comprehensive insurance for the home - 3 months</td>
                                            <td>Kshs 200, 000</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Value</td>
                                            <td><b>Kshs 4,500,000</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row no-print">
                            <div class="col-9">
                                <a href="invoice-print.html" rel="noopener" target="_blank"
                                    class="btn btn-default float-left"><i class="fas fa-print"></i> Print</a>
                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>