<div class="content-wrapper" style="min-height: 2171.31px;"
    *ngIf="currentUser.authenticated && canView('leads-new',currentUser)">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Customer</h1>
                </div>
                <div class="col-sm-9">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/business/crm/leads">Leads</a></li>
                        <li class="breadcrumb-item active">New Opportunity</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-default w-75">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-body p-6">
                        <div>

                            <h3 class="text-muted">&nbsp;&nbsp; Please select:</h3>
                            <h3></h3>
                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Personal Pension Plan</p></th>
                                        <td><input type="checkbox" id="personalPensionPlanOpt" 
                                            (change)="addRemovePath('personalPensionPlan-remitinfo');addRemovePath('personalPensionPlan-address');addRemovePath('personalPensionPlan-dependants');addRemovePath('personalPensionPlan-beneficiaries')"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Individual Retirement Scheme</p></th>
                                        <!-- <th scope="row">Individual Retirement Scheme</th> -->
                                        <td><input type="checkbox" id="retirementSchemeOpt"
                                                (change)="addRemovePath('retirementScheme-main');addRemovePath('retirementScheme-consent')"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Maxpac Personal Accident Cover</p></th>
                                        <!-- <th scope="row">Maxpac Personal Accident Cover</th> -->
                                        <td><input type="checkbox" id="personalAccidentOpt"
                                                (change)="addRemovePath('personalAccident-beneficiary');addRemovePath('personalAccident-spouse');addRemovePath('personalAccident-children');addRemovePath('personalAccident-decl')"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">Private Vehicle Insurance</th> -->
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Private Vehicle Insurance</p></th>
                                        <td><input type="checkbox" id="vehicleInsuranceOpt"
                                                (change)="addRemovePath('vehicleInsurance-privacy');addRemovePath('vehicleInsurance-consent');addRemovePath('vehicleInsurance-vehicles');addRemovePath('vehicleInsurance')"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">Student Internship</th> -->
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Student Internship</p></th>
                                        <td><input type="checkbox" id="internshipOpt"
                                                (change)="addRemovePath('internship-privacy');addRemovePath('internship-consent');addRemovePath('internship')"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">Unit Trust Onboarding</th> -->
                                        <th scope="row" class="w-50 text-right"><p class="font-weight-light" style="margin-bottom:0px; margin-top:0px">Unit Trust Onboarding</p></th>
                                        <td><input type="checkbox" id="unitTrustOpt"
                                                (change)="addRemovePath('unitTrust-ja');addRemovePath('unitTrust-lw');addRemovePath('unitTrust-sources');addRemovePath('unitTrust-mpesa');addRemovePath('unitTrust-incomedist');addRemovePath('unitTrust-privacy');addRemovePath('unitTrust-risk')"></td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                            &nbsp;&nbsp;
                            <div *ngIf="canSubmit()">
                                <form routerLink="/business/crm/testfunc">
                                    <button type="button" (click)="onSubmit()" class="btn btnx-success btn-sm"><i
                                            class="fa fa-arrow-circle-right"></i> Continue</button>
                                </form>
                            </div>
                            <h3></h3>
                            <h3></h3>
                            <h3></h3>
                            <h3></h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>